// Epreuves

div.horaire {
    margin-bottom: 2em;
}

.row.epreuve {
    margin-bottom: 2em;
    background-color: #f5f6f7;
    padding: 1em;
}

.epreuve {
    ul {
        margin-bottom: 0px;
        padding-left: 0px;
    }
     li {
        list-style: none;
        padding-left: 0px;
     }
}