div.horaire {
    margin-bottom: 2em;
}

.row.epreuve {
    margin-bottom: 2em;
    background-color: #f5f6f7;
    padding: 1em;
}

.epreuve {
    ul {
        margin-bottom: 0px;
        padding-left: 0px;
    }
     li {
        list-style: none;
        padding-left: 0px;
     }
}

.admonition {
    font-size: larger;
    
}

.dark-gold h1,
.dark-gold h2,
.dark-gold h3,
.dark-gold h4,
.dark-gold {
    background-color: #91760d;
    color: white;
}

.covid-blue {
    background-color: #07a0e2;
    color: white;
}

.covid-red h1,
.covid-red h2,
.covid-red h3,
.covid-red h4,
.covid-red {
    background-color: #c41b25;
    color: white !important;
}

p {
    margin: 0;
}

p+h1,
p+h2,
p+h3,
p+h4,
p+p {
    margin-top: 2rem;
}

p+ul {
    margin-top: 0.5rem;
}

body, input, select, textarea {
    color: #666666;
}
