<li>
    {{ if (.Get "disabled") }}
    <span class="button disabled">{{ .Inner }} : {{ with .Get "disabled" }} {{ . }} {{ end }}</span>
    {{ else if (.Get "next") }}
    <span class="button next">{{ .Inner }} : {{ with .Get "next" }} {{ . }} {{ end }}</span>
    {{ else }}
    {{ $id := .Get "id" }}
    {{ $until := .Get "until" }}
    <a class="button camp-button" data-jf-id="{{ $id }}" {{ if $until }}data-until="{{ $until }}" {{ end }}
        href="https://form.jotform.com/{{ $id }}" target="_blank">{{
        .Inner }}<span class="jf-info"></span></a>
    {{ end}}
</li>