<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main" class="{{ .Kind }}">
            <div class="inner">
                {{- partial "header.html" . -}}
                {{- block "main" . }}{{- end }}
            </div>
        </div>
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                {{- partial "sidebar.html" . -}}
                <!-- Footer -->
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </div>
    {{- partial "scripts.html" . -}}
    {{- block "custom-script" . }}{{- end }}
</body>

</html>