<!-- Contact -->
<header class="major">
    <h2>{{ .Title }}</h2>
</header>
<p>{{ .Content | markdownify }}</p>
<ul class="contact">
    <li class="icon solid fa-envelope"><a 
        href="mailto:{{ .Params.email }}">{{ delimit .Params.email "<br/>"
        }}</a></li>
    <li class="icon solid fa-phone">{{ delimit .Params.phone "<br/>"}}</li>
    <li class="icon solid fa-home">{{ .Params.street }}<br />
        {{ .Params.city }}</li>
    <li class="icon solid fa-hashtag">Agate : {{ .Params.agate }}<br />
        BDTA : {{ .Params.bdta }}</li>
    <li class="icon solid fa-money-check-alt">Coordonnés bancaires :<br>
        {{ .Params.bank_name }}<br>
        {{ .Params.bank_owner }}<br>
        {{ .Params.bank_iban }}
    </li>
</ul>
