{{ with .Site.Params.firebase }}
{{ $firebaseUrl := "/__/firebase"}}
{{ if site.IsServer }}
{{ $firebaseUrl = "https://www.gstatic.com/firebasejs"}}
{{ end }}
<script src="{{ $firebaseUrl }}/{{ .version }}/firebase-app.js"></script>
<script src="{{ $firebaseUrl }}/{{ .version }}/firebase-analytics.js"></script>
<script src="{{ $firebaseUrl }}/{{ .version }}/firebase-storage.js"></script>
<script>
  const firebaseConfig = {
    apiKey: "{{ .apiKey }}",
    authDomain: "{{ .projectId }}.firebaseapp.com",
    databaseURL: "https://{{ .projectId }}.firebaseio.com",
    projectId: "{{ .projectId }}",
    storageBucket: "{{ .projectId }}.appspot.com",
    messagingSenderId: "{{ .senderId }}",
    appId: "{{ .appId }}",
    measurementId: "{{ .measurementId }}"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
{{ end }}