<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {{ $options := (dict "targetPath" "css/main.css") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $style := resources.Get "sass/brahier.scss" | toCSS $options | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ with .Site.Params.favicon }}
        <link rel="shortcut icon" href="{{ . }}" />
    {{ end }}
</head>