<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">webcams</a></li>
        <li><a href="#">Installations</a></li>
        <li><a href="#">Liste de prix</a></li>
        <li>
            <span class="opener">Concours 2020</span>
            <ul>
                <li><a href="#">Parcours d'entraînements</a></li>
                <li><a href="#">7-8 mars : Régional</a></li>
                <li><a href="#">14 - 15 mars : Poneys</a></li>
            </ul>
        </li>
        <li><a href="#">Concours 2019</a></li>
        <li><a href="#">Concours 2018</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">Vidéos</a></li>
        <li><a href="#">Camps et stages</a></li>
        <li><a href="#">Diplôme et brevet</a></li>
        <li><a href="#">Liens</a></li>
    </ul>
</nav>