name: Deploy to Firebase Hosting on PR
on:
  pull_request:
  push:
    branches-ignore:
      - main

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.153.2"
          extended: true
      - name: Build
        run: hugo --minify
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_BRAHIER_CH }}"
          projectId: brahier-ch
          channelId: "preview-${{ github.run_number }}"
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
